._12_10_2016_Чёрная_дыра_скидок__Ключевым_техноло {
    font-size: 14px;
    font-family: "Roboto";
    color: rgb(101, 100, 100);
    line-height: 1.5;
    text-align: left;
    position: absolute;
    left: 373.844px;
    top: 1115.25px;
    width: 685px;
    height: 166px;
    z-index: 23;
  }
  